 :root {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 form {
     width: 50%;
     margin: auto;
     text-align: center;
 }

 form div {
     margin-bottom: 20px;
 }

 .box {
     display: flex;
     justify-content: space-around;
 }

 .error {
     color: red;
 }

 .msg {
     color: green;
 }

 #form-error {
     color: red;
     font-size: 15px;
     padding: 5px 0px 10px;
     font-weight: bolder;
 }